body{
  background:url('./bubbles.gif');
}
button{
    margin:auto;
    border-radius: 15px;
    padding:.2em;
}
.App {
  text-align: center;
  /* background-color:rgb(49, 49, 49); */
  color:#fff
}
.crypto{
  background-color:#057777;
  color:#fff;
  width:40%;
}
